Source: smartctl-exporter
Section: admin
Priority: optional
Maintainer: graelo <graelo@graelo.cc>
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any,
               golang-github-prometheus-common-dev,
               smartmontools (>=7.3)
Standards-Version: 4.6.2
Homepage: https://github.com/prometheus-community/smartctl_exporter

Package: smartctl-exporter
Architecture: any
Depends: ${misc:Depends}, smartmontools (>=7.3)
Built-Using: ${misc:Built-Using}, ${misc:Static-Built-Using}
Description: Prometheus exporter for S.M.A.R.T. drive metrics
 Provides systemd service for monitoring storage health via smartctl
